@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bg: #ffffff;
    --primary: #e5ab09;
    --secondary: #ab8007;
}

body {
    background-color: var(--bg);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

nav {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

nav img {
    height: 100%;
    width: auto;
    margin: 0 1rem;
}

.nav-1 img {
    height: 80px;
    border-radius: 50%;
    width: auto;
    margin: 0 1rem;
}

nav.scrolled {
    background-color: var(--bg);
    transition: background-color 0.5s linear;
}

nav.scrolled a:hover {
    text-decoration: underline;
}

.btn-gps {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.nav-1 {
    padding-left: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary);
}

.nav-2 {
    padding-right: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: fit-content;
}

.nav-2 a {
    margin: 0 1rem;
}

.highlight {
    color: var(--primary);
}

/* The sidepanel menu */
.sidepanel {
    height: 100vh;
    /* Specify a height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    left: 0;
    background-color: rgba(17, 17, 17, 0.9);
    backdrop-filter: blur(15px);
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #c5c5c5;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: var(--primary);
    color: white;
    margin-right: 1rem;
    padding: 10px 15px;
    border: 2px solid var(--secondary);
    border-radius: 5px;
}

.openbtn:hover {
    background-color: var(--secondary);
}

.openbtn {
    display: none;
}

#contact {
    padding: 1rem 2rem;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.contact-text {
    flex-basis: 40%;
    text-align: center;
    background-color: #6d3e0f;
    color: #fff;
    border: 12px solid #e4ab09;
    border-radius: 20px;
    padding: 2rem;
    margin: 3rem 0;
    position: relative;
}

.contact-text h1 {
    font-size: 3rem;
    font-weight: 600;
    padding: 2rem 0;

}

.contact-text p {
    font-size: 1.2rem;
    font-weight: 400;
    padding-bottom: 2rem;
}

#contact img {
    position: absolute;
    bottom: -10%;
    right: -5%;
    width: 20%;
    height: auto;
}

#contact form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 40%;
}

#contact form h1 {
    font-size: 2.5rem;
    font-weight: 600;
    padding-bottom: 2rem;
}

#contact form input,
#contact form textarea {
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    border: 1px solid #000;
    border-radius: 5px;
}

#contact form button {
    background-color: #ffbc00;
    color: #000;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

#contact form button:hover {
    background-color: #000;
    color: #fff;
}


hr {
    width: 50%;
    border: 1px solid #827A7A;
}

.footer-bottom {
    text-align: center;
    color: #827A7A;
}


/* Media Queries */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .nav-1 {
        padding-left: 1rem;
    }

    .nav-1 h1 {
        font-size: 1.2rem;
    }

    .nav-1 img {
        height: 60px;
        width: auto;
    }

    .nav-2 {
        padding-right: 1rem;
    }

    .nav-2 a {
        margin: 0 0.3rem;
        font-size: 13px;
    }

    .btn-gps {
        width: 30%;
    }

    .btn-gps img {
        width: 100%;
    }

}

@media screen and (min-width: 0px) and (max-width: 768px) {

    nav {
        padding: 0.5rem 0;
    }

    .nav-1 {
        padding-left: 0.3rem;
    }


    .nav-1 h1,
    .nav-2 a,
    .btn-gps {
        display: none;
    }

    .nav-1 img {
        height: 60px;
        width: auto;
    }

    .nav-2 {
        width: fit-content;
    }

    .gps {
        display: block;
    }

    .openbtn {
        display: block;
    }

    #contact {
        padding: 5rem 2rem;
        height: auto;
    }

    .contact-text {
        flex-basis: 90%;
        padding: 1rem;
    }

    .contact-text p {
        font-size: 1rem;
    }

    #contact img {
        width: 30%;
    }

    #contact form {
        flex-basis: 90%;
        align-items: center;
    }

    #contact form h1 {
        font-size: 2rem;
        text-align: center;
    }

    #contact form input,
    #contact form textarea {
        width: 90%;
    }

}