@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Hindi:ital@0;1&display=swap');

:root {
    --bg: #ffffff;
    --primary: #e5ab09;
    --secondary: #ab8007;
}

body {
    background-color: var(--bg);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

nav {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

nav img {
    height: 100%;
    width: auto;
    margin: 0 1rem;
}

.nav-1 img {
    height: 80px;
    border-radius: 50%;
    width: auto;
    margin: 0 1rem;
}

nav.scrolled {
    background-color: var(--bg);
    transition: background-color 0.5s linear;
}

nav.scrolled a:hover {
    text-decoration: underline;
}

.btn-gps {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.nav-1 {
    padding-left: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary);
}

.nav-2 {
    padding-right: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: fit-content;
}

.nav-2 a {
    margin: 0 1rem;
    font-weight: 500;
}

.highlight {
    color: var(--primary);
}

/* The sidepanel menu */
.sidepanel {
    height: 100vh;
    /* Specify a height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    left: 0;
    background-color: rgba(17, 17, 17, 0.9);
    backdrop-filter: blur(15px);
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #c5c5c5;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: var(--primary);
    color: white;
    margin-right: 1rem;
    padding: 7px;
    border: 2px solid var(--secondary);
    border-radius: 5px;
    width: 50px;
    height: 50px;
}

.openbtn img {
    width: 100%;
    height: auto;
    margin: 0;
}

.openbtn:hover {
    background-color: var(--secondary);
}

.openbtn {
    display: none;
}

#courses {
    margin: 7rem 2rem;
    text-align: center;
}

.course-title h1 {
    font-size: 3rem;
    font-weight: 700;
    padding: 0 2rem;
    text-align: center;
    margin: 0;
}

.course-title p {
    color: #827A7A;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0 2rem;
    text-align: center;
}

.hindi {
    font-family: 'Tiro Devanagari Hindi', sans-serif;
}

.blur img,
.blur h1,
.blur h2,
.blur p {
    filter: blur(10px);
}

.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    flex-basis: 30%;
    padding: 0;
    margin: 1.5rem 0;
    border-radius: 23px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #4E596B;
    border: 1px solid #e5ab09;
}

.card img {
    width: 100%;
    height: auto;
    transition: ease 0.5s;
}

.card:hover img {
    transform: scale(0.95);

}

.card-text {
    padding: 1rem 2rem;
}

.card-text h1 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
    color: #324361;
}

.coming-soon {
    z-index: 3;
    position: absolute;
    font-size: 3rem;
    width: 100%;
    text-align: center;
    color: var(--primary);
    transform: translate(-2rem, -10rem);
}

.blur .coming-soon h3 {
    display: block !important;
}

.card-text h3 {
    display: none;
}

.card-text h2 {
    font-size: 1.2rem;
    font-weight: 500;
    color: #324361;
}

.card-text p {
    font-size: 0.9rem;
    font-weight: 400;
}

.inner-card-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

footer {
    margin-top: 5rem;
    padding: 2rem 4rem;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.footer-container:first-of-type img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.socials {
    margin: 0.5rem 0.5rem;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

footer p {
    font-size: 1.2rem;
    margin: 0.5rem 0.5rem;
    color: #827A7A;
}

hr {
    width: 50%;
    border: 1px solid #827A7A;
}

.footer-bottom {
    text-align: center;
    color: #827A7A;
}


/* Media Queries */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .nav-1 {
        padding-left: 1rem;
    }

    .nav-1 h1 {
        font-size: 1.2rem;
    }

    .nav-1 img {
        height: 60px;
        width: auto;
    }

    .nav-2 {
        padding-right: 1rem;
    }

    .nav-2 a {
        margin: 0 0.3rem;
        font-size: 13px;
    }

    .btn-gps {
        width: 30%;
    }

    .btn-gps img {
        width: 100%;
    }

}

@media screen and (min-width: 0px) and (max-width: 768px) {

    nav {
        padding: 0.5rem 0;
    }

    .nav-1 {
        padding-left: 0.3rem;
    }


    .nav-1 h1,
    .nav-2 a,
    .btn-gps {
        display: none;
    }

    .nav-1 img {
        height: 60px;
        width: auto;
    }

    .nav-2 {
        width: fit-content;
    }

    .gps {
        display: block;
    }

    .openbtn {
        display: block;
    }

    .cards {
        margin: 0;
        padding: 0;
    }

    .card {
        width: 100%;
        margin: 1rem 0;
        flex-basis: 40%;
    }

    .course-title h1 {
        font-size: 2.4rem;
    }

    .course-title p {
        font-size: 1rem;
    }

    .card-text h1 {
        font-size: 1.1rem;
    }

    .card-text p {
        font-size: 0.75rem;
    }

    footer {
        flex-direction: column;
        padding: 1rem;
    }

    .footer {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .footer h1 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width:425px) {
    .card {
        flex-basis: 100%;
    }

    .home-down img {
        width: 80%;
    }
}