@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

nav {
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

nav img {
    height: 100%;
    width: auto;
    margin: 0 1rem;
}

.btn-gps {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.nav-1 {
    padding-left: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #6255A5;
}

.nav-2 {
    padding-right: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.highlight {
    color: #6255A5;
}

#home {
    padding: 5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85vh;
}

.home-1 {
    width: 100%;
    padding: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.home-1 h1 {
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
}

.home-1 p {
    color: #827A7A;
    font-size: 1.1rem;
    font-weight: 500;
}

.cta-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 43%;
}

.btn {
    background-color: #6255A5;
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 2rem;
    font-weight: 700;
}